
@font-face {
    font-family:"New Spirit Bold";
    src:url("New Spirit Bold.woff2") format("woff2"),url("New Spirit Bold.woff") format("woff"),url("New Spirit Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        